services:
  postgres:
    image: postgres:latest
    container_name: postgres
    healthcheck:
      test: ["CMD-SHELL", "psql -U ${POSTGRES_USER} --list"]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - "5432:5432"
    networks:
      - backend-network

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
      labels:
        - "auto.remove=true"
    env_file:
      - .env
    command: bash -c "make migrate head && make run"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend-network

  nginx:
    container_name: nginx
    image: nginx:latest
    build:
      context: nginx
      dockerfile: Dockerfile
      no_cache: true
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - backend-network

volumes:
  postgres-data:

networks:
  backend-network:
    driver: bridge
    name: backend-network
    driver_opts:
      com.docker.network.driver.mtu: 1450
